Makefile
Makefile.in
*.swp
*.swo
aclocal.m4
autom4te.cache/
intltool-*
config.log
config.status
configure
mkinstalldirs
*~
config.guess*
config.sub*
install-sh
missing
stamp-*

build/
xpi/components
src/IMozJSDBusCoreComponent.h
